body{
    margin-top: 0px;
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: "Cinzel";
    font-weight: bold;
    background-color: gray;
}
header{
    background-color: red;
    color: white;
    display :flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    height: 400px;
    background-image: url("Header.png");    
}
h1{
    margin-top: 5vm;
    margin-left: 5vh;
    color: whitesmoke;
}
h2{
    /**padding-left : 50px;
    padding-top: 5vh;*/
    padding-bottom: 3vh;
    border-bottom: solid;
    margin-bottom: 3vh;
    
}
nav{
    display : flex;
    
}
section{
    background-color: rgb(255, 255, 255);
}
article{
    margin: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
}
img{
    margin : 20px;
    width: 150px;
    height: 50px;
}
.menu{
    background-color: rgb(17, 17, 17);
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.end{
    justify-content: flex-end;
}
.date{
    margin-top: 30px;
    font-size: 15px;
}

.video{
    padding-top: 40px;
}